
.idea/*
!.idea/runConfigurations/

.gradle/

gradle-acumen/build/
gradle-acumen-api/build/

out/
gradle-acumen/out/
gradle-acumen-api/out/

*.class
*.log

*.war
*.nar
*.ear
*.tar.gz
*.rar

*.iml
*.ipr
*.iws

Thumbs.db

build/*
!build/distributions/
