
.idea/*
!.idea/runConfigurations/

/.gradle/

/build/
/gradle-acumen/build/
/gradle-acumen-api/build/

/out/
/gradle-acumen/out/
/gradle-acumen-api/out/

*.class
*.log

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.iml
*.ipr
*.iws

Thumbs.db
